@import "tailwindcss";

* {
    background-color: black;
    color: white;
}

.root {
    background-color: blue;
}

button {
    background-color: lightseagreen;
    color: white;
    padding: 5px 10px;
}