@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left {
    width: 60%;
    height: 100%;
    background-color: rgba(251, 197, 11);
}

.right {
    width: 40%;
    height: 100%;
    background-color: rgba(251, 232, 181);
}

.img {
    position: absolute;
    top: 30px;
    left: 40px;
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 50px;
    color: rgba(80, 74, 58);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.pikachu {
    position: absolute;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pikachu img {
    width: 650px;
}

.content {
    position: absolute;
    top: 160px;
    left: 60px;
    font-family: 'Poppins', sans-serif;
    z-index: 3;
}

.content h6 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(80, 74, 58, 0.95);
}

h1 {
    margin: 10px 0 10px 0;
    font-size: 130px;
    line-height: 120px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.info {
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
}

.content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    color: rgba(80, 74, 58, 0.95);
}

.pokeball img {
    width: 180px;
    position: absolute;
    bottom: -58px;
    left: 40px;
    opacity: 0.6;
}