* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    width: 60%;
    height: 100%;
    background-color: rgba(251, 197, 11);
}

.right {
    width: 40%;
    height: 100%;
    background-color: rgba(251, 232, 181);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left {
    width: 60%;
    height: 100%;
    background-color: rgba(251, 197, 11);
}

.right {
    width: 40%;
    height: 100%;
    background-color: rgba(251, 232, 181);
}

.img {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 20px;
    height: 30px;
}

.hamburger {
    position: absolute;
    top: 30px;
    right: 50px;
    color: rgba(80, 74, 58);
    font-size: 30px;
    font-weight: 600;
}

.pikachu {
    position: absolute;
    top: 52%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pikachu img {
    width: 650px;
}

.content {
    position: absolute;
    top: 160px;
    left: 60px;
    font-family: 'Poppins', sans-serif;
    z-index: 3;
}

h1 {
    margin: 10px 0 10px 0;
    font-size: 130px;
    line-height: 120px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.info {
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
}

.page {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 40px 0 0 0;
}

.line {
    width: 50px;
    height: 3px;
    background-color: black;
}

.pokeball img {
    width: 180px;
    position: absolute;
    bottom: -58px;
    left: 40px;
    opacity: 0.6;
}