* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: cursive;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

nav {
  height: 80px;
  width: 100%;
  background-color: rgb(57, 13, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h4 {
  font-size: 20px;
  position: relative;
}

h4::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: red;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: all ease 0.3s;
}

h4:hover::after {
  width: 100%;
}

button {
  padding: 15px 20px;
  margin: 50px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 5px;
  position: relative;
}

button::after {
  content: '';
  height: 100%;
  width: 0%;
  background-color: red;
  position: absolute;
  /* color: black; */
  left: 0;
  top: 0;
  z-index: -1;
  /* transition: all ease 0.3s; */
}

button:hover::after {
  width: 100%;
}
